<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Question: Which shape is the {{questionShape}}?</ion-label>
  <ion-list auto-hide="false" *ngFor="let shape of selectedShapes; let i = index">
    <ion-item>
      <ion-label>{{shape}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
