<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form id="arithmeticForm" [formGroup]="arithmeticForm">
    <ion-item id="rounded">
      <ion-label fixed>{{ expression }} = </ion-label>
      <ion-input id="expressionAnswer" name="input" ngDefaultControl formControlName="input" type="text" value=""></ion-input>
    </ion-item>
  <button  ion-button color="primary" (click)="arithmeticFormSubmit()" block [disabled]="!result && !arithmeticForm.valid">{{buttonText}}</button>
  </form>
  <span name="textResult" ngDefaultControl [(ngModel)]="resultText">{{resultText}}</span>
</ion-content>
